#controls {
    display: flex;
    justify-content: center;
    
    margin: 16px;
}

#data-table {
    width: 90%;
    overflow: hidden;
    
    margin: auto;
    
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}
#data-table th {
    border-left: 1px solid #ddd;
    font-size: 1.5em;
    font-weight: bold;
}
#data-table td {
    border-left: 1px solid #ddd;
    font-size: 1.2em;
    padding: 0 4px;
}

#data-table tr:nth-child(even) {background-color: #375BA9}